<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/address.css">
	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<div class="ui body container">
			<h1><%= address %></h1>
			<% if(related.length == 0) { %>
				<div class="ui mini brown message"><i class="warning sign icon"></i>This is an unclassified address. <br> This does not mean that it is safe. It simply means that it hasn't been classified.</div>
			<% } else if(type == "scam") { %>
				<div class="ui mini red message"><i class="warning sign icon"></i> Warning: Do not send money to this address</div>
			<% } else if(type == "verified"){ %>
				<div class="ui mini green message">This is a verified address</div>
			<% } %>
			<b>Balance</b>: <span id="balance">loading...</span><BR>
			<b>USD Value</b>: <span id="value">loading...</span><BR>
			<b>Related to the following domains (<%= related.length %>)</b>:
			<% if(related.length > 0) { %>
				<div class="ui bulleted list">
					<% related.forEach(entry => { %>
						<div class='item'>
							<a href='/domain/<%= entry.name %>/'><%= entry.name %></a>
						</div>
					<% }); %>
				</div>
			<% } else { %>
				<i>(none)</i>
			<% } %>
			<div class="ui divider"></div>
			<a target="_blank" href="https://etherscan.io/address/<%= address %>"><i class="external icon"></i> View address on etherscan</a><BR>
			<div id="disqus_thread"></div>
		</div>
		<% include ../partials/footer.ejs %>
		<script>
			var disqus_config = function () {
				this.page.url = "http://etherscan.io/address/<%= address %>#disqus";
				this.page.identifier = "Etherscan_<%= address %>";
			};
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://etherscan.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<script src="/js/address.js"></script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</body>
</html>
